<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <div class="container mt-5 d-flex justify-content-between align-items-end">
            <h1>Edit User {{user.id}}</h1>
            <div class="d-flex gap-3">
                <a href="/">Home</a>
                <a href="/users/show_all">Show All</a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <form action="/users/update/process/{{user.id}}" method="post">
                <div class="mb-3">
                    <label for="" class="form-label">First Name<span class="text-danger">*</span></label>
                    <input type="text"
                    class="form-control" name="first_name" id="first_name" value="{{user.first_name}}" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Last Name<span class="text-danger">*</span></label>
                    <input type="text"
                    class="form-control" name="last_name" id="last_name" value="{{user.last_name}}" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" value="{{user.email}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>